.slide-container {

    width: 100%;
    margin: auto; 
   
  }
  
  h3 {
    text-align: center; }
  
  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 300px;


  }
  
  .each-fade {
    display: flex;
  }
  
  .each-fade .image-container {
    width: 100%;
    overflow: hidden;
}

.each-fade .image-container img {
    width: 100%;
    height: 450px;
    margin-top: 30px;
  }
  


  .react-slideshow-fade-wrapper{
    width:75%;
    overflow: hidden;
  }

  #cards-div {   
    -webkit-animation: 1s ease 0s normal forwards 1 fadein;
    animation: 1s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
    0% { opacity:0;}
    66% { opacity:0,5;}
    100% { opacity:1;}
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0,5; }
    100% { opacity:1; }
}