html {
    background-image: url("https://previews.123rf.com/images/number168/number1681507/number168150700646/42341960-abstract-molecules-technology-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 62.5%;
}

@keyframes pulse {
    0% {
        background-color: #E53138;
    }

    50%{
        background-color: #0064D2;
    }

    75%{
        background-color: #F5AF03;
    }

    100%{
        background-color: #85B816;
    }
    
}

#header {
    background-color: transparent !important;

}

.chatbot-box {
    animation: pulse 10s infinite;
}

::placeholder{
    color: black;
    opacity: 1;
    font-style: italic;
    font-weight: bold;
    background-color: #FFFFFF;
}